<footer role="contentinfo" id="site-footer">
  <hr/>
  <img src="{{ site.url }}/images/{{ site.logo }}" style="height: 64px; margin-right: 2rem"/>
  <div style="float: right; font-size:0.68rem">
    Département des infrastructures<br/>
    Office cantonal des systèmes d'information et du numérique<br/>
    Rue du Grand-Pré 64-66<br/>
    1211 Genève 2<br/>
    Tél: +41 (22) 388 00 00
  </div>

</footer>
